<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 filter animals">
               <div class="hovereffect">
                   <img class="img-responsive" src="assets/img/met_mini.png" alt="">
                   <div class="overlay">
                       <h2>Master Of Puppets</h2>
                       <p>
                           <a href="#">LINK HERE</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 filter cars">
               <div class="hovereffect">
                   <img class="img-responsive" src="images/2.jpg" alt="">
                   <div class="overlay">
                       <h2>Portfolio Name</h2>
                       <p>
                           <a href="#">LINK HERE</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 filter cars">
               <div class="hovereffect">
                   <img class="img-responsive" src="images/3.jpg" alt="">
                   <div class="overlay">
                       <h2>Portfolio Name</h2>
                       <p>
                           <a href="#">LINK HERE</a>
                       </p>
                   </div>
               </div>
           </div>

           <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 filter animals">
               <div class="hovereffect">
                   <img class="img-responsive" src="images/4.jpg" alt="">
                   <div class="overlay">
                       <h2>Portfolio Name</h2>
                       <p>
                           <a href="#">LINK HERE</a>
                       </p>
                   </div>
               </div>
           </div>
