<!--<div id="albums-main-div" class="container">
  <div class="row row-center">
    <div *ngFor="let album of albumsOfBand; let i = index" [attr.data-index]="i" class="card" style="width: 18rem; height: 500px;">
      <a class="card-click">
        <h5 class="card-title card-title-center">{{album.name | uppercase}}</h5>

        <img class="card-img-mini" src="{{album.cover}}" alt="Card image cap">
        <ul class="list-group list-group-flush">
          <li class="list-group-item list-group-item-dark" style="text-align:center;">{{album.year}}</li>
          <li class="list-group-item list-group-item-dark" style="text-align:center;">{{album.style}}</li>
        </ul>
      </a>
      <div class="card-body">
        <button type="button" class="btn btn-outline-light btn-card">Download</button>
        <button type="button" class="btn btn-outline-light btn-card">Videos</button>
      </div>
    </div>
  </div>
</div> -->

<div class="list-group">
  <a *ngFor="let album of albumsOfBand; let i = index" [attr.data-index]="i"  href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{album.name | uppercase}}</h5>
      <img class="album-img-mini" src="{{album.cover}}" alt="Card image cap">
      <small>{{album.year}}</small>
    </div>
    <p class="mb-1">Donec</p>
    <small>{{album.style}}</small>
  </a>
</div>
